@import url('https://fonts.googleapis.com/css?family=Encode+Sans+Expanded');

body{
	background-color: #fff;
	font-family: 'Encode Sans Expanded', sans-serif;
	    font-size: 130% !important;
}
h3{
	color: #999;
}
.main{
	background: #fff;
	margin-top: 30px;
	padding: 1%;
    box-shadow: 0 0 50px #ddd;
}
.img{
	width: 300px;
    height: 232px;
}
.label{
	background-color: #555;
	margin-left: 10px;
}
.table{
	width: 80%;
}
th{
    padding: 1%;
    background: #777;
    color: #fff;
}
td{
	padding: 1%;
	background-color: #fff;
	text-transform: capitalize;
	font-size: 95%;
    border: 1px solid #eee;
}